<div class="card">
  <div class="card-image">Image</div>
  <h2 class="card-title"><%- title %></h2> <!-- accept raw HTML responses as they are hardcoded -->
  <p class="card-content"><%= content %></p>
</div>
