<div class="news-card">
    <h2 class="news-title"><%- title %></h2> <!-- accept raw HTML responses as they are hardcoded -->
    <h4 class="news-date"><%= date %></h4>
    <p class="news-desc"><%= desc %></p>
    <a href="/" class="news-link">News Link</a>
</div>