.footer-section > * {
    background: none;
}

.footer-link {
    background: none;
}

.footer-section {
    padding: 8px;

    display: flex;
    flex-direction: column;

    background-color: var(--footer-bg);
}
